
/* Обнуление стилей */
*,
*::before
*::after {
    margin: 0;
    padding: 0;
border: 0;
}
li {
    list-style: none;
}
a:visited{
    text-decoration: none;
} 
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}



/* Анатомия или Синтаксис */

/* 

Селектор {
css параметр;
css параметр;
}

*/

/* CSS параметр */
/* css свойство: значение свойства; */


/* Селекторы */

/* Селектор тега */

/* имя тега {
css параметр;
css параметр;
css параметр;
} 
*/


span {
    /* Обратились ко всем тегам Span на странице */
}

/* Обратились ко всем тегам Р на странице */
/* p {
color: brown;
} */

/* Селектор класса,начинается с точки */
/* .  имя класса {
css параметр;
*/

/* Обратились ко всем обьектам с классом text на странице
.text {
    color: blue;
} */

/* Селектор ID самый приоритетный*/
/* 
# id {
css параметры;
*/

#main-text {
    color: darkorange;
}

#menu {
   /*Обратились к обьекту с ID main-text на странице  */
    color: aqua;
}


/* Приоритет */
/* Порядок записи при равнозначных селекторах */

p {
    color: darkgoldenrod;
}

/* Этот приоритетней , потому что он ниже */

p {
    color: rgb(126, 179, 21);
}

/* Уточняем обращение */
/* Комбинация селекторов */

span.text.blue-text
/* Обратились к тегам Span с классом blue-text на странице */

/* Вложеннность и приоритетность */
/* Приоритетность 1 */
/* Обратились к обьектам с классом .content_item но только к тем которые 
находятся внутри всех обьектов с классом .content на странице
*/

.content.content_item {
    color: blueviolet;
}

/* Инлайновый стиль имеет самый большой приоритет, когда задаешь его в HTML
 style: color в head
*/

/* Найменьший приоритет через тег в HTML */


/* ПРичик селекторы */
/*  * (звездочка) Обращение ко всем обьектам 
* {
color:
}
*/

/* Обращение к нескольким обьектам
.content p, 
.content span {
color:
}
*/


/* Обратились ко всем тегам Span первого уровня но только к тем которіе находятс
 внутри любіх обьектов с классом .content на странице 
 */
 .content > span {
}

/* Обращение ко всем следующим обьектам того же уровня */
.content_item + * {}

/*  */